
#datasource
spring:
  datasource:
    url: jdbc:mysql://196.220.248.109:3306/medthreat?useSSL=false&allowPublicKeyRetrieval=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: rootpassword
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    baseline-on-migrate: true


  profiles:
      active: linuxdev


hibernate:
  dialect: org.hibernate.dialect.MySQL5InnoDBDialect

management:
  endpoints:
    web:
      exposure:
        include: "*"
  security:
    enabled: false




